<div class='content-wrapper home'>
    <h4>Welcome</h4>
    <p>
        Welcome to this proof of concept web application. The aim of this website is to prove the use case described in my bachelor's thesis. 
    </p>
    <h4>Use case</h4>
    <p>
        In short the use case is described as followed. Cigarette filters are one of the most polluting plastics worldwide. They have a severe impact on our environment, the animals and this way also on us.
        Several prevention mechanisms (biodegradable filters, fines, ashtrays, ...) are already in place. This however does not mean that people will always want to/are able to use these.
        Several studies showed that a lot of people do not see cigarette littering as littering, making these mechanisms useless against those people.
        This is where my proof of concept could chime in. Right now these filters are being cleaned by people (<a target = "_blank" href="https://www.swissinfo.ch/eng/in-a-puff-of-smoke_who-picks-up-your-cigarette-butts-/43368196">110 litre bag a day in Zurich station</a>), but what if we could relieve/assist people on this task by using AI?
        This proof of concept proved it might be able to use object detection to collaborate with the current cleaning systems. It should be noted that the concept should be investigated further (using robotics, using more data, ...) before it could be used in real life.
    </p>
    <h4>How to use?</h4>
    <p>
        Do you want to test out this application? You can start right away. Go to the <a>upload section</a>. Here you can upload a set of pictures that may or may not contain cigarette filters. On this page you will be able to upload thyour pictures, the model will process them and provide object detection and segmentation.
        The files will be outputted in the download section where you can download the files by selecting them. Please do bear in mind that the application was made taking into account that it could be used by a robotic arm. This robotic arm will be close to the ground and thus detect filters this way.
        Taking a picture from far away and hoping that this detection system will detect the filter is not what the applicatoin was designed for.
    </p>
    <h4>Resources</h4>
    <p>
        If interested more in this concept you can always contact me for further information.
        To not keep you waiting you can already take a look at the source code for this project on my GitHub.
        More interested in the problem definition or theoretical part (AI) of this concept? Download my thesis here.
    </p>
    <div class="resources"> 
        <a target = "_blank" href = "../../assets/Bachelorproef.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        <a target = "_blank" href = "https://github.com/TiboGeysen?tab=repositories"><i class="fa fa-github"></i></a>
        <a href = "mailto:tibogeysen@hotmail.com"><i class="fa fa-envelope"></i></a>
        <a target = "_blank" href = "https://www.linkedin.com/in/tibo-geysen-a7632713a/"><i class="fa fa-linkedin"></i></a>
    </div>
</div>