<div>
    <nav class="menu">
        <div class="image-container">
              <img src="https://media-exp1.licdn.com/dms/image/C5603AQErs5ywnkoNew/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=BA-KQ-JVu6MbN3Df--oiLdm6EgmLBpMP_ft2k5esvkk" />
          <h2>Tibo Geysen</h2>
          <div class = "line"></div>
        </div>
          <ul>
              <li>
                  <a [routerLink]="['home']">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span class="nav-text">
                          Home
                      </span>
                  </a>
                
              </li>
              <li>
                  <a [routerLink]="['upload']">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <span class="nav-text">
                          Upload
                      </span>
                  </a>
                
              </li>
              <li>
                  <a [routerLink]="['download']">
                      <i class="fa fa-download" aria-hidden="true"></i>
                      <span class="nav-text">
                          Download
                      </span>
                  </a>
                
              </li>
        </ul>
      </nav>
</div>